// Reset

html {
  box-sizing: border-box;
  font: $font-style $font-variant $font-weight $font-size $font-family;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

figure,
body {
  color: $font-color;
  margin: 0;
}

ul li p {
  margin: 0;
}

// Dark Theme

body.dark-theme {
  background: $background-dark;
}

// Lists

ul,
ol {
  padding: 0;

  li {
    &.task-list-item {
      padding-left: 0;
      margin-left: 0;
      &:before {
        content: '';
      }
    }

    &:before {
      content: '\2022 ';
      position: absolute;
      left: 0;
      color: lighten($font-color, 30%);
      font-size: 22px;
      line-height: 1.1;
    }

    position: relative;
    list-style-type: none;
    margin-bottom: 0.3rem;
    padding-left: 1.5rem;
    margin-left: 0.5rem;
    line-height: 1.6;
  }
}
