.container {
  display: flex;
  flex-direction: column;
  max-width: $width;
  margin: auto;
  margin-bottom: 50px;
  padding: $padding;

  a {
    &:hover {
      background: $link-hover-background;
      border-radius: 4px;
    }
    &:active,
    &:focus {
      background: darken($link-hover-background, 10%);
    }
  }
}

.dark-theme {
  .container {
    a {
      &:hover {
        background: rgba(182, 182, 182, 0.2);
      }
      &:active,
      &:focus {
        background: darken($link-hover-background-dark, 10%);
      }
    }
  }
}

@include small-breakpoint {
  .container {
    padding: $padding-bigger;
  }
}
