.nav-container {
  max-width: $width;
  padding: $padding;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;

  .brand {
    a {
      display: flex;
      align-items: center;
      color: #333;
      margin-right: 0;
      font-weight: 500;
      font-size: 1.15rem;

      &:hover,
      &:focus {
        color: black;
      }
    }
  }

  .button-theme {
    -webkit-appearance: none;
    border: 0;
    margin: 0;
    padding: 0.75rem 0.5rem;
    background: transparent;
    font-size: 1.5rem;

    &:focus {
      outline: none;
    }
  }

  .emoji {
    font-size: 1.5rem;
    margin-right: 5px;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    a {
      padding: 0.75rem;
      margin: 0 0.25rem;
      text-align: center;
      color: rgba(0, 0, 0, 0.6);
      border-radius: $border-radius;

      &:hover,
      &:active,
      &.active {
        color: #111;
        background: $link-hover-background;
      }
    }
  }
}

.dark-theme {
  .nav-container {
    .links a {
      color: $text-dark;

      &:hover,
      &.active {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@include small-breakpoint {
  .nav-container {
    padding: $padding-bigger;
  }
}
