// Reset

html {
  box-sizing: border-box;
  font: $font-style $font-variant $font-weight $font-size $font-family;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

figure,
body {
  color: $font-color;
  margin: 0;
}

ul li p {
  margin: 0;
}

// Dark Theme

body.dark-theme {
  background: $background-dark;
}

// Mobile First

// Headings

h1,
h2,
h3,
h4,
h5,
.title1-not-heading {
  margin: 0 0 1rem 0;
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  color: $heading-font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Headings Dark

.dark-theme {
  h1,
  h2,
  h3,
  h4,
  h5,
  .title1-not-heading {
    color: $heading-dark;
  }
}

// Headings Individual

h1 {
  font-size: $h1-mobile;
}
h2 {
  font-size: $h2-mobile;
}
h3 {
  font-size: $h3-mobile;
}
h4 {
  font-size: $h4-mobile;
}
h5 {
  font-size: $h5-mobile;
}

@include small-breakpoint {
  h1 {
    font-size: $h1-size;
  }
  h2 {
    font-size: $h2-size;
  }
  h3 {
    font-size: $h3-size;
  }
  h4 {
    font-size: $h4-size;
  }
  h5 {
    font-size: $h5-size;
  }
}

// Links

a {
  text-decoration: none;
  color: $font-color;
  font-weight: 500;

  &:hover,
  &:active,
  &:focus {
    color: $link-hover-color;
  }
}

// Links Dark
.dark-theme {
  a {
    color: $text-dark;

    &:hover,
    &:active,
    &:focus {
      color: white;
    }
  }
}

// Text

.text {
  display: flex;
  align-items: center;
}

.subheading {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: $font-family;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
}

.title1-not-heading {
  font-size: $h1-size;
}

// Text Dark

.dark-theme {
  .subheading,
  .text {
    color: $text-dark;
  }
}

// Buttons

%buttons {
  -webkit-appearance: none;
  display: inline-block;
  border: $button-border-width $button-border-style $button-border-color;
  border-radius: $button-border-radius;
  background: $button-background;
  color: $button-color;
  font-weight: $button-font-weight;
  font-family: $button-font-family;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
  padding: 0.6rem 0.9rem;
  margin: 0 0 0 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

// Buttons on hover & focus

%buttons-hover-focus {
  border: $button-border-width $button-border-style $button-background-hover;
  color: white;
  background: $button-background-hover;
  text-decoration: none;
}

// Apply styles to .button class, button element, and button-based inputs
#{$buttons} {
  @extend %buttons;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
  }

  &:hover {
    @extend %buttons-hover-focus;
  }

  &:focus,
  &:active {
    @extend %buttons-hover-focus;
  }

  &:active {
    transform: scale(0.95);
  }
}
